@use "sass:color";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
$ff-headings: "Poppins", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wdth,wght@75..100,300..800&display=swap");
$ff-body: "Open Sans", sans-serif;

$c-p-pink: hsl(322, 100%, 66%);

$c-n-place-cyan: hsl(193, 100%, 96%);
$c-n-dark-cyan: hsl(192, 100%, 9%);
$c-n-grayish-blue: hsl(208, 11%, 55%);

$max-width: 80rem;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.image {
	&__svg {
		max-width: 100%;
		height: 100%;
		object-fit: cover;

		&--left {
			object-position: left;
		}

		&--right {
			object-position: right;
		}
	}
}

.header {
	width: 100%;
	background-image: url(./images/bg-hero-desktop.svg);
	background-color: azure;
	background-size: cover;
	background-repeat: no-repeat;

	&__wrapper {
		max-width: $max-width;
		padding: 4rem 1rem 4rem 1rem;
		margin: 0 auto;
		display: grid;
		grid-template-columns: minmax(0, 1fr) minmax(0, 1.25fr);
	}
}

.nav {
	display: flex;
	justify-content: space-between;
	grid-column: 1/3;
	margin-bottom: 3rem;

	&__logo {
		height: 2rem;
	}

	&__button {
		font-family: $ff-body;
		font-weight: 700;
		font-size: 1rem;
		background-color: white;
		border: none;
		box-shadow: 0 0.25rem 1rem #00000020;
		border-radius: 50px;
		padding: 1rem;
		max-width: 20ch;
		width: 100%;
	}
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	margin-right: 5rem;
	margin-bottom: 5rem;
	gap: 2rem;

	&__title {
		font-family: $ff-headings;
		font-size: 2.6rem;
		color: $c-n-dark-cyan;
	}

	&__text {
		font-family: $ff-body;
		font-size: 1.1rem;
		font-weight: 500;
		color: $c-n-dark-cyan;
	}

	&__button {
		background-color: $c-p-pink;
		color: white;
		border: none;
		border-radius: 50px;
		padding: 1rem;
		max-width: 35ch;
		width: 100%;
		font-family: $ff-body;
		font-weight: 600;
		box-shadow: 0 0.5rem 0.5rem color.adjust($c-p-pink, $alpha: -0.9);
	}
}

.main {
	display: flex;
	flex-direction: column;
	gap: 3rem;
	margin: 10rem 0 20rem 0;
	position: relative;
}

.article {
	margin: 0 auto;
	max-width: $max-width;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 3rem 2rem 3rem 5rem;
	border-radius: 1rem;
	box-shadow: 0 0 0.5rem #00000020;

	&--reverse {
		flex-direction: row-reverse;
	}

	&__content {
		width: 50%;
	}

	&__title {
		font-family: $ff-headings;
		font-size: 1.8rem;
		color: $c-n-dark-cyan;
	}

	&__text {
		font-family: $ff-body;
		font-size: 1.1rem;
		color: $c-n-grayish-blue;
	}

	&__image {
		height: 20rem;
	}
}

.tag {
	position: relative;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 1rem;
	box-shadow: 0 0 0.5rem #00000020;
	padding: 3rem 5rem;
	gap: 2rem;
	bottom: -5rem;

	&__title {
		font-family: $ff-headings;
		font-size: 2rem;
	}

	&__button {
		background-color: $c-p-pink;
		font-family: $ff-body;
		font-weight: 600;
		font-size: 1.1rem;
		color: white;
		padding: 2rem;
		border: none;
		max-width: 25rem;
		width: 100%;
		border-radius: 50px;
		box-shadow: 0 0.5rem 1rem #00000020;
	}
}
